# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/
pubspec.lock

# Platforms
android/
ios/
macos/
windows/
linux/
web/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
