name: plugueplus
description: Aplicativo Flutter simplificado para o ecossistema Plugue+, reaproveitando a logica de categorias, servicos e carregadores.
version: 0.1.0
environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.18.0
  http: ^1.2.2

dev_dependencies:
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
